<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="./listing.css">
<title>ヤマカリ 出品画面</title>
</head>
<body>
	<header>
		<div class="top">
			<h1>Yamakari</h1>
			<small>〜山田がつくるECサイト〜</small>
		</div>
	</header>
	<div class="main">
		<ul class="main-upper">
			<h2>出品</h2>
			<li><a href="/Yamakari_Project/view/index.jsp">HOME</a></li>
			<li>ACCOUNT</li>
			<li><a href="/Yamakari_Project/view/charge.jsp">CHARGE</li>
			<li>LISTING</li>
			<li><a href="/Yamakari_Project/view/login.jsp">LOGIN</a></li>
			<li>INFOMATION</li>
			<form action="javaのサーブレット" method="post">
				<input class="search" type="text" name="search" placeholder=商品名を検索 size="20" />
				<input class="submit" type="submit" name="btn" value="検索" />
			</form>
		</ul>	
		<div class="main-middle">
			<div class="listing_form">
				<form action="/Yamakari_Project/listing" method="post">
					<li class="listing_list">
						<h3>出品情報を入力してください</h3>
						<p>商品名</p><br/>
						<input class="list_input" type="text" name="name" placeholder="商品名を入力" required/><br/>
						<p>金額</p><br/>	
						<input class="list_input" type="number" name="price" placeholder="金額を入力" required/><br/>
						<p>カテゴリー</p>
						<input class="list_input" list="choices" name="category" placeholder="カテゴリーを選択" required/>
						<datalist id="choices">
						    <option value="ファッション">
						    <option value="おもちゃ">
						    <option value="本">
							<option value="食べもの">
							<option value="歴史">
							<option value="文房具">
							<option value="楽器">
							<option value="車">
							<option value="家">
							<option value="惑星">
						</datalist>
						<input id="list" class="listing_btn" type="submit" value="出品" />
					</li>
				</form>
			</div>
			<div class="sidebar">
				<aside class="categories">
					<h3>カテゴリー</h3>
					<li class="category">fashion</li>
					<li class="category">toys</li>
					<li class="category">book</li>
					<li class="category">foods</li>
					<li class="category">history</li>
					<li class="category">stationery</li>
					<li class="category">musical instruments</li>
					<li class="category">cars</li>
					<li class="category">houses</li>
					<li class="category">planets</li>
				</aside>
			</div>
		</div>
	</div>
</body>
</html>